.vscode/**
.vscode-test/**
out/**/*.map
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
!out/**/*.ts
node_modules/**
*.vsix
venv/**
for_run_mac_code.md
for_bsd.md
for arm.md
for_windows_arm.md